

<div mat-dialog-container class="bg-dark overlay ">
    <h4  class="text-danger text-center mat-dialog-title mt-3 ">
        Flight Booking Details
        <hr>
    </h4>
    <nav class="nav-bar text-center bg-dark text-info"><h3>{{item.flightName}}</h3></nav>

    <div class="mat-dialog-content"><table class="table table-striped table-light table-borderless">
        <tbody>
          <tr>
            
            <td>Flight Name</td>
            <td>{{item.flightName}}</td>
            
          </tr>
          <tr>
            
            <td>Source</td>
            <td>{{item.startPlace}}</td>
            
          </tr>
          <tr>
            
            <td>Destination</td>
            <td>{{item.destinationPlace}}</td>
            
          </tr>
          <tr>
            
            <td>Price</td>
            <td> &#x20B9; {{item.flightPrice}}</td>
            
          </tr>
          <tr>
            
            <td>Departure Time</td>
            <td>{{item.departureTime}}</td>
          </tr>
          <tr>
           
            <td>Arrival Time</td>
            <td>{{item.arrivalTime}}</td>
          </tr>
          

        </tbody>
        
        
        
      </table>
      <div class="mat-dialog-actions">
        <button class="btn btn-primary mb-3" id="first-button" (click)="onPay()" mat-dialog-close> Pay</button>
        <button class="btn btn-danger mb-3" id="second-button" mat-button mat-dialog-close (click)="onCancel()">Cancel</button>
    </div>
      </div>
</div>



